/* AdminDashboard.css */


.button-container {
  display: flex;
  flex-direction: column; /* Make the buttons vertical */
  justify-content: center; /* Center the buttons vertically */
}




.admin-dashboard {
  display: flex;
  align-items: center;
  height: 80vh;
  background-color: #4d4d4d;
  color: #fdb601;
  margin-left: 20rem;
}

.nouser-dashboard {
  display: flex;
  align-items: center;
  height: 80vh;
  background-color: #4d4d4d;
  color: #fdb601;
  
}

.dashboard-title {
  font-size: 3rem;
  margin-right: 3rem;
  
}

.dashboard-title-nouser {
  font-size: 3rem;
  
}

.button-container {
  display: flex;
  flex-direction: column; /* Make buttons arranged vertically */
}

/* AdminDashboard.css */

.dashboard-button {
  margin: 1rem 0;
  padding: 1rem 2rem; /* Keep the padding consistent */
  text-align: center;
  background: #292929;
  color: #fdb601;
  border: 1px solid #fdb601;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

.dashboard-button:hover {
  background: #ffd900;
  color: #292929;
  /* Adjust the border and padding to ensure the size remains the same */
  border: 1px solid #fdb601;
  padding: 1rem 2rem;
}


/* AdminDashboard.css */

/* Add these styles for positioning the description */
.desc {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  z-index: 1;
  margin-left: 5rem;
}


.description-box {
  flex: 1; /* Allow the description box to grow and take available space */
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  z-index: 1;
  max-width: 300px; /* Set a maximum width for the description box */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds max-height */
  margin-left: 2rem;
}