
  /* Add more styles or modify as needed */
  /***********************/

  .testia {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* Set width to 90% */
    margin: 0 auto; /* Center the container horizontally */
  
  }


  /*******************/

  .banner {
    display: flex;
    flex-direction: column;
    max-width: 960px; /* Adjust the max-width as needed */
    margin: 0 auto;
  }
  
  .banner a {
    text-decoration: none;
    color: inherit;
  }
  
  .banner-image {
    height: 250px; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
  }
  
  .banner-content {
    background-color: #9ef4a6;
    padding: 20px;
    text-align: center;
  }
  
  .banner-content h2 {
    color: #07522c;
    margin-bottom: 10px;
  }
  
  .banner-content p {
    color: #07522c;
    margin-bottom: 20px;
  }
  
  .banner-content button {
    background-color: #07522c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .banner-content button:hover {
    background-color: #063e1a;
  }
  
  

