/* PageCategories.css */

.pcategory-navigation {
  display: flex;
  overflow-x: auto;
  gap: 16px;
}

.pcategory-links {
  width: 200px;
}

.pcategory-item-wrapper {
  width: 100%;
  height: 250px;
}

.pcategory-item {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
}

.pcategory-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Round the image corners */
  border: 2px solid #333; /* Darker border for visibility */
  margin-bottom: 10px; /* Add margin between image and text */
}

.pcategory-item p {
  color: #333;
}

a {
  text-decoration: none;
}